<% content_for :main do %>
    <h2>Log in</h2>

    <div class="flex flex-col justify-center items-center w-80">
      <div class="my-4">
        <p>
          Welcome back! Log in to access your account.
        </p>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="mb-4 w-80">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-2 rounded-lg w-full" %>
        </div>

        <div class="mb-4 w-80">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "mt-2 rounded-lg w-full" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="flex items-center justify-start mb-4 w-80 gap-x-2">
            <%= f.check_box :remember_me, class: "cursor-pointer" %>
            <%= f.label :remember_me, class: "cursor-pointer" %>
          </div>
        <% end %>

        <div class="mb-4 w-80">
          <%= f.submit "Log in", class: "main-button border-none" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>