<% content_for :main do %>
  <h1 class="text-xl font-medium mb-8">Account settings</h1>
  <%= render "partials/narrow_box" do %>
    <h2>Email</h2>
    <p class="mb-4">
      <%= current_user.email %>
    </p>

    <%# only needed by Fugu Cloud (not needed if you're self-hosting) %>
    <%= render partial: "subscription", locals: { cancel_at: @cancel_at } if ENV["FUGU_CLOUD"] == "true" %>
    <%# only needed by Fugu Cloud (not needed if you're self-hosting) %>
    <%= render partial: "support" if ENV["FUGU_CLOUD"] == "true" %>
   
    <%= button_to "Log out",
      destroy_user_session_path,
      method: :delete,
      class: "bg-transparent underline font-medium hover:text-green-500 cursor-pointer",
      data: { turbo: false }
    %>
  <% end %>
<% end %>