<% content_for :project_header do %>
  <%= render partial: "partials/project_header", locals: { project_name: @project.name } %>
<% end %>

<% content_for :data_controls do %>
  <%= render partial: "selections",
          locals: {
            param_data: params,
            event_names: @event_names,
            properties: @properties, 
            possible_aggregations: @possible_aggregations,
            aggregation: @aggregation
          }
      %>
<% end%>

<% content_for :chart_view do %>
  <%= render partial: "chart",
    locals: {
      dates: @dates,
      events: @events,
      selected_event: @selected_event
    }
  %>
<% end %>

<% content_for :project_footer do %>
  <div class="flex flex-row items-center justify-end w-full my-4 gap-x-4">
    <%= link_to "Project settings", user_project_settings_path(params[:user_id]), class: "font-normal" %>
    <%= render partial: "partials/mode_toggle",
      locals: {
        project_name: @project.name,
        test_mode: params[:test] == "true",
        aggregation: @aggregation,
        chart_type: "event"
      }
    %>
  </div>
<% end %>