<div class="flex flex-row w-full items-center justify-between" data-controller="event">
  <div class="flex flex-row gap-x-5 items-center justify-start">
    <div class="flex flex-col items-start justify-center">
      <%= label_tag 'events', 'Events', class: "text-sm font-medium mb-2" %>
      <%= select_tag "events",
          raw(event_select_options(event_names, param_data)),
          data: { action: "change->event#navigateToSelectUrl", event_target: "eventSelect"},
          class: "w-56 text-sm"
      %>
    </div>
    <div class="flex flex-col items-start justify-center">
      <%= label_tag 'properties', 'Properties', class: "text-sm font-medium mb-2" %>
      <%= select_tag "properties",
          raw(property_select_options(properties, param_data)),
          data: { action: "change->event#navigateToSelectUrl", event_target: "propertySelect"},
          class: "w-44 text-sm"
      %>
    </div>
    <div class="flex flex-col items-start justify-center">
      <%= label_tag 'aggregation', 'Aggregation', class: "text-sm font-medium mb-2" %>
      <%= select_tag "aggregation",
          raw(agg_select_options(param_data)),
          data: { action: "change->event#navigateToSelectUrl", event_target: "aggSelect"},
          class: "text-sm"
      %>
    </div>
  </div>
  <div class="flex flex-row gap-x-5 items-center justify-start">
    <div class="flex flex-col items-start justify-center">
      <%= label_tag 'date_range', 'Date Range', class: "text-sm font-medium mb-2" %>
      <%= select_tag "date_range",
          raw(date_select_options(param_data)),
          data: { action: "change->event#navigateToSelectUrl", event_target: "dateSelect"},
          class: "text-sm"
      %>
    </div>
  </div>
</div>