<% content_for :main do %>
  <h1 class="text-xl font-medium mb-8">Project settings</h1>
  <%= render "partials/narrow_box" do %>
    <h2>Project name</h2>
    <p>
      <%= @project.name %>
    </p>
    <h2>Visibility</h2>
    <p>
      <% unless @project.public %>
        This project is private.
      <% else %>
        This project is public. Share the project URL with your friends to impress them.
      <% end %>
    </p>
    <h2>API keys</h2>
    <div>
      <div class="font-medium mb-2">Test API key</div> <code><%= @project.api_key_test.key_value %></code>
      <div class="text-sm text-gray-600 mb-2 mt-2">Test events are deleted after 14 days</div>
      <div class="font-medium mb-2 mt-4">Live API key</div> <code><%=  @project.api_key_live.key_value %></code>
    </div>
    <h2 class="mt-6">Embedding</h2>
    <% if @project.public %>
      <p>
        Copy and paste the embed code anywhere to display your project.
        Your project's visibility needs to be set to public. Check out the docs to learn how to customize your embed code.
      </p>
      <div class="code--multiline">
        <code>
          <%=
            %(<iframe src="#{user_project_events_url(current_user.hash_id, @project.name, { embed: true })}" title="Fugu" loading="lazy" referrerpolicy="no-referrer" scrolling="no" height="600px" width="800px"></iframe>)
          %>
        </code>
      </div>
    <% else %>
      To display your embed code, edit your project and set it's visibility to public.
    <% end %>
    <div class="mt-6 mb-4">
      <%= link_to "Edit project",
          edit_user_project_path(current_user.hash_id, @project.name),
          class: "bg-transparent underline font-medium hover:text-green-500 cursor-pointer"
      %>
      <%= button_to "Delete project",
          user_project_path(current_user.hash_id, @project.name),
          method: :delete,
          class: "bg-transparent underline font-medium hover:text-green-500 cursor-pointer mt-2",
          onclick: "return confirm('This will delete this project and all its events forever. Are you sure?');"
      %>
    </div>
  <% end %>
  <%= link_to "Back to #{@project.name}", user_project_events_path(current_user.hash_id, @project.name) %>
<% end %>