<% content_for :main do %>
  <% unless @event_names.empty? %>
    <h1 class="text-xl mb-4 font-medium mb-8"><%= @project.name %></h1>
    <div class="flex flex-row w-full mb-4 p-4 w-full rounded-md shadow-md bg-yellow-50 gap-x-5"
          data-controller="event"
    >
      <div class="flex flex-col items-start justify-center">
        <%= label_tag 'events', 'Events', class: "text-sm font-medium mb-2" %>
        <%= select_tag "events",
            raw(event_select_options(@event_names, params)),
            data: { action: "change->event#navigateToSelectUrl", event_target: "eventSelect"}
        %>
      </div>
      <div class="flex flex-col items-start justify-center">
        <%= label_tag 'properties', 'Properties', class: "text-sm font-medium mb-2" %>
        <%= select_tag "properties",
            raw(property_select_options(@properties, params)),
            data: { action: "change->event#navigateToSelectUrl", event_target: "propertySelect"}
        %>
      </div>
      <div class="flex flex-col items-start justify-center">
        <%= label_tag 'aggregation', 'Aggregation', class: "text-sm font-medium mb-2" %>
        <%= select_tag "aggregation",
            raw(agg_select_options(params)),
            data: { action: "change->event#navigateToSelectUrl", event_target: "aggSelect"}
        %>
      </div>
    </div>
    <div class="flex flex-row w-full">
      <div data-controller="chart"
            data-chart-dates-value="<%= @dates.to_json %>"
            data-chart-events-value="<%= @events.to_json %>"
            data-chart-event-name-value="<%= @selected_event.titleize %>"
            class="p-4 w-full rounded-md shadow-md bg-yellow-50"
      >
        <canvas data-chart-target="chart"></canvas>
      </div>
    </div>
  <% else %>
    <h1 class="text-xl mb-4">You didn't send any events yet. Just do it!</h1>
  <% end %>
  <div class="flex flex-col items-start justify-center w-full p-4 rounded-md shadow-md bg-gray-50 mt-4">
    <h2>Settings</h2>
    <div>
      <% if params[:test] == 'true' %>
        *Test mode* <br />
        <%= link_to 'Toggle live mode', build_test_toggle_url(false, params) %>
      <% else %>
        <%= link_to 'Toggle test mode', build_test_toggle_url(true, params) %>
      <% end %>
    </div>
    <div>
      Test API key: <%= @project.api_key_test.key_value %><br />
      Live API key: <%=  @project.api_key_live.key_value %>
    </div>
  </div>
<% end %>