<!DOCTYPE html>
<html>
  <head>
    <title>Fugu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('fugu_favicon.png') %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind" %>
  </head>

  <body class="font-system">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" unless value.blank? %>
    <% end %>
    <div class="w-full p-4 flex flex-col justify-center items-center">
      <%= yield :main %>
    </div>
  </body>
</html>
