<!DOCTYPE html>
<html>
  <head>
    <title>Fugu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('fugu_favicon.png') %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <%= yield :head %>
  </head>

  <body class="font-system min-h-screen flex flex-col">
    <%= render "partials/header" %>
    <% flash.each do |key, value| %>
      <%= content_tag :div,
          value,
          class: "flex flex-row text-center justify-center border-2 p-4 shadow-sm flash-#{key}" unless value.blank? %>
    <% end %>
    <main class="w-full max-w-5xl p-4 flex flex-col justify-center items-center mx-auto">
        
        <%= content_for?(:data_view) ? yield(:data_view) : yield(:main) %>
    </main>
    <%= render "partials/footer" %>
  </body>
</html>
