<!DOCTYPE html>
<html>
  <head>
    <title>Fugu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('fugu_favicon.png') %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-system">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="w-full p-4 flex flex-col justify-center items-center">
      <%= yield :main %>
    </div>
  </body>
</html>
